# Terraform
**/.terraform*
**/terraform.tfstate*

# Secrets
**/secrets.txt 
**/env.sh
**/producer.properties

# Jenkins data
jenkins/home/*
!jenkins/home/.gitkeep

# Output JARs/TF State
outputs/*
!outputs/.gitkeep
!outputs/terraform/.gitkeep

# Java
# Compiled bytecode files
*.class

# Package files
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# Logs and databases
*.log
*.sql
*.sqlite

# IDE-specific files (Eclipse, IntelliJ, NetBeans)
.classpath
.project
.settings/
.idea/
*.iml

# OS-specific files (Mac, Windows)
.DS_Store
Thumbs.db

# Maven target directory
**/target/

# Other common ignores
*.swp
*.bak
*.off
*.old
.tmp*

# Dependency Pom
dependency-reduced-pom.xml