---
version: '3.1'
services:
  jenkins:
    hostname: jenkins
    container_name: jenkins
    build:
      context: ./jenkins
      dockerfile: Dockerfile
    ports:
      - "8080:8080"
      - "50000:50000"
    volumes:
      - ./jenkins/home:/var/jenkins_home
      - ./jenkins/casc_configs/jenkins.yaml:/var/jenkins_home/casc_configs/jenkins.yaml
      - ./jenkins/groovy_jobs/tf-jobs.groovy:/var/jenkins_home/groovy_jobs/tf-jobs.groovy
      - ./jenkins/groovy_jobs/app-jobs.groovy:/var/jenkins_home/groovy_jobs/app-jobs.groovy
      - ./outputs:/var/outputs
    environment:
      JENKINS_OPTS: --httpPort=8080
      JENKINS_HOME: /var/jenkins_home
      CASC_JENKINS_CONFIG: /var/jenkins_home/casc_configs